$black-blue: #000814;
$dark-blue: #001D3D;
$blue: #003566;
$yellow: #FFC300;
$light-yellow: #FFD60A;

$white: #EEE;
$white-transparent-75: rgb(237, 237, 237, .75);
$white-transparent-50: rgb(237, 237, 237, .5);